body{
background-color: bisque;
}
#form{
    border:2px solid black;
    border-radius: 4px;
    margin: 50px auto;
    padding:30px 20px;
    width:50%;
    background-color:lightskyblue;
}
h2{
    padding-left:7cm ;
}
#form-control{
    text-align: justify;
    margin-bottom: 25px;
}
#form-control label{
    display:block;
    margin-bottom: 10px;
}
#form-control input,
#form-control select{
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}
#gender{
    justify-content: center;
}
button{
    width:100%;
    background-color: rgb(147, 59, 230);
    text-align: center;
    font-size: large;
    font-family: inherit;
    padding-top: 7px;
    padding-bottom: 7px;
}