body{
    background-color: white;
}
#part1{
    margin:auto;
    display:flex;
    background-color: white;
    box-shadow: 5px 5px rgb(227, 227, 230); 
}
#part1 img{
    border:2px solid white ;
    border-radius: 10px;
    width:150px;
    height: 150px;
    margin-top: 35px;
    margin-left: 20px;
    box-shadow: 9px 9px rgb(227, 227, 230);  
}
#part1 p{
    color: rgb(25, 24, 24);
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin-right: 50px;
    margin-left: 5cm;
    text-shadow: 1px 1px rgb(178, 178, 138);
    word-spacing: 5px;
}
hr{
    color: antiquewhite;
}
#part2{
    margin:auto;
    display:flex;
    background-color: white;
    box-shadow: 5px 5px rgb(227, 227, 230) inset; 
}
#part2 img{
    border:3px solid white ;
    border-radius: 10px;
    width:150px;
    height: 150px;
    margin-top: 15px;
    margin-right: 20px;
    box-shadow: 9px 9px rgb(227, 227, 230) inset; 
}
#part2 p{
    color: rgb(25, 24, 24);
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin-left: 50px;
    margin-right: 5cm;
    text-shadow: 1px 1px rgb(178, 178, 138);
    word-spacing: 5px;
}
#part3{
    margin:auto;
    display:flex;
    background-color: white;
    box-shadow: 5px 5px rgb(227, 227, 230); 
}
#part3 img{
    border:2px solid white ;
    border-radius: 10px;
    width:150px;
    height: 150px;
    margin-top: 35px;
    margin-left: 20px;
    box-shadow: 9px 9px rgb(227, 227, 230);  
}
#part3 p{
    color: rgb(25, 24, 24);
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin-right: 50px;
    margin-left: 5cm;
    text-shadow: 1px 1px rgb(178, 178, 138);
    word-spacing: 5px;
}
#part4{
    margin:auto;
    display:flex;
    background-color: white;
    box-shadow: 5px 5px rgb(227, 227, 230) inset;  
}
#part4 img{
    border:3px solid white ;
    border-radius: 10px;
    width:150px;
    height: 150px;
    margin-top: 35px;
    margin-right: 20px;
    box-shadow: 9px 9px rgb(227, 227, 230) inset; 
}
#part4 p{
    color: rgb(25, 24, 24);
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin-left: 50px;
    margin-right: 5cm;
    text-shadow: 1px 1px rgb(178, 178, 138);
    word-spacing: 5px;
}
#part5{
    margin:auto;
    display:flex;
    background-color: white;
    box-shadow: 5px 5px rgb(227, 227, 230); 
}
#part5 img{
    border:2px solid white ;
    border-radius: 10px;
    width:150px;
    height: 150px;
    margin-top: 35px;
    margin-left: 20px;
    box-shadow: 9px 9px rgb(227, 227, 230);  
}
#part5 p{
    color: rgb(25, 24, 24);
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin-right: 50px;
    margin-left: 5cm;
    text-shadow: 1px 1px rgb(178, 178, 138);
    word-spacing: 5px;
}
#part6{
    margin:auto;
    display:flex;
    background-color: white;
    box-shadow: 5px 5px rgb(227, 227, 230)inset;  
}
#part6 img{
    border:3px solid white ;
    border-radius: 10px;
    width:150px;
    height: 120px;
    margin-top: 10px;
    margin-right: 20px;
    box-shadow: 9px 9px rgb(227, 227, 230) inset; 
}
#part6 p{
    color: rgb(25, 24, 24);
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin-left: 50px;
    margin-right: 5cm;
    text-shadow: 1px 1px rgb(178, 178, 138);
    word-spacing: 5px;
}